@import './typeplate-sk/typeplate-index';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import 'variables';
@import 'header';
@import 'footer';
@import 'page';

@import 'home';
@import 'carousel';
@import 'contact';

@import 'blog';

html,
body {
    background: $white-200;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: $grey-700;

}

// TYPOGRAPHY
h1 {
    font-weight: bold;
    font-size: 36px;
    color: $grey-700;

    .keyword, strong {
        color: $red-300;
    }

    margin: .3em 0;
}

header,
footer {
    color: white;
    min-height: $header-footer-height;
    padding: 5px 20px;
}

.row {
    margin: 0 !important;
}

a,
a:visited {
    color: unset;
}

p+p {
    margin-top: 1.4em;
}

ul {
    li {
        list-style-type: disc;

        +li {
            margin-top: 1.4em;
        }
    }

}

.Page {
    .content p {
        max-width: 75ch;
    }
}

.card {
    @include shadowed;
    background: $white-200;
    border-radius: 12px;
    padding: 35px;
}