.carousel {
    // overflow: hidden;
    height: $carousel-height;
    // width: 100%;

    $magic-number: 30em;

    .carousel-root {
        position: relative;
    }

    .slider-wrapper {
        position: relative;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
            width: 100%;
            min-height: 100%;
            transition: opacity 0.2s linear;
            backdrop-filter: blur(5px);
            background: rgba(120, 120, 120, 0.5);
            z-index: 1;
        }
    }

    .carousel {

        .slide {
            position: relative;
            height: $carousel-height;
            img {
                height: 100%;
                object-fit: cover;
            }

            .legend {
                background: rgba(120, 120, 120, 0.45);
                opacity: 1;
                backdrop-filter: blur(4px);
                width: auto;
                margin: 0;
                left: unset;
                right: 0;
                bottom: 0;
                border-radius: 0;
                text-align: right;
            }

        }
    }

    //TODO: there's some jank with the control dots as well.
    //would be better to rejig everything.
    .control-arrow {
        height: 100%;
        background: none;
    }

    .control-dots {
        position: absolute;
        z-index: 2;

        li {
            outline: none;
            background-color: $grey-700;

            &.selected {
                background: $radial-gradient;
            }
        }
    }

    .overlay {
        z-index: 1;

        color: white;
        font-size: 42px;
        font-weight: 600;
        text-align: center;

        width: 100%;
        height: 90%; // TODO: same jank
        padding: 0 25%;
        position: absolute;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: none;
        opacity: 1;
        transition: opacity 0.2s linear;
    }

    &:hover {

        .slider-wrapper::before,
        .overlay {
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }
    }
}