#contact {
    // filter: blur(5px);
    background: url('https://source.unsplash.com/1600x900/');

    .card {
        margin: 75px auto;
        max-width: $sm;

        h1 {
            margin-bottom: 1em;
        }
    }

    .content {
        min-height: 78vh;
    }

    #socials {
        [class^=col]{
            padding: 0 5px;
            min-width: 40px;

        }
        a {
        display: inline-block;
        position: relative;
    }}
    .icon{
        color: $grey-500;
        transition: color 0.2s ease;
        margin: 15px 0;

        &:hover {
            color: $red-900;
        }
    }

    label {
        display: block;
        text-align: left;

        &.form-title {
            text-transform: lowercase;
            font-variant: small-caps;
            font-weight: 600;
            font-size: 1.4em;
        }
    }

    form {
        margin: 0 1.5em;
        max-width: 250px;
        
        input,
        textarea {
            font-family: inherit;
            width: 100%;
            line-height: 1.4;
            font-size: 14px;
            margin-top: 15px;
            padding: 5px;
            color: $grey-900;
        }

        textarea {
            resize: none;
        }

        button {
            font-family: inherit;
            background: $red-900;
            color: white;
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            margin-top: 15px;

            padding: .7em 0;
            border: none;
            border-radius: 6px;
            font-weight: bold;
            font-size: 14px;

            transition: all 0.2s ease;

            &:hover {
                @include shadowed;
                background: $red-300;
                cursor: pointer;
                transform: translateY(-2px);
            }
        }
    }

    .tooltip{
        text-align: center;
        a{
            color: $red-900;
            text-decoration: none;
        }
    }
}