header {
    @include shadowed;
    background: $linear-gradient;
    font-weight: lighter;
    max-width: 100%;

    a,
    #logo,
    #language-switcher span[lang] {
        text-align: center;
        white-space: nowrap;
        margin: 2.5px 0;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.2s ease;

        text-decoration: none;


        &:hover,
        &.active {
            opacity: 1 !important;
        }
    }


    #logo {
        // background-image: url('/img/logo_fill.png');
        // background-size: contain;
        position: relative;
        background: center / contain no-repeat url('/img/logo_outline_variant.png');
        min-height: 30px;
        min-width: 2em;


        &:hover::before {
            opacity: 0;
        }
    }

    .active #logo {
        opacity: 1;
        &::before {
            opacity: 0;
        }
    }

    .col-xs {
        text-align: center;
        // min-width: 140px; //logo
    }

    #language-switcher {
        white-space: nowrap;

        span:not([lang]){
            opacity: 0.7;
        }
    }

    // @media only screen and (max-width: 500px){
    //     #logo{
    //         order: -1;
    //     }
    // }
}