#home {

    h1 {
        font-size: 3em;
    }

    .content [class^=col-] {
        padding: 0 1em;

        @media only screen and (min-width: $sm) {
            &:not(:first-of-type) {
                margin-top: 3.1em;
            }
        }
    }

    iframe {
        width: 100%;
        height: $carousel-height;
        margin-bottom: 40px;
        overflow: hidden;
    }
    @media only screen and (max-width: $sm){
        h1 {
            font-size: 3em;
        }
    }
}
