#home {



    .content [class^=col-] {
        padding: 0 1em;

        @media only screen and (min-width: $sm) {
            &:not(:first-of-type) {
                margin-top: 3.1em;
            }
        }
    }

    iframe {
        width: 100%;
        height: calc(100vw * 540 / 1440 + 40px);
        margin-bottom: 40px;
        overflow: hidden;
    }
}