#home {
    
    h1 {
        strong {
            @extend .keyword;
        }
    }

    .content [class^=col-]{
        padding: 0 1em;
        
        @media only screen and (min-width: $sm){
            &:not(:first-of-type){
                margin-top: 3.1em;
            }
        }
    }

    iframe{
        width: 100%;
        min-height: 33em;
        max-height: 25vh;
        height: 100%;
        overflow: hidden;
    }
}